# DHIS2 Platform
node_modules
.d2
src/locales
build

# Tailwind & Styling
src/tailwind.css

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.DS_Store
npm-debug.log
/public/manifest.webapp
.idea
public/manifest.webapp
*.mp4
